<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../css/ServicesCss/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="containerActionOne">
                <section>
                    <img src="../../resources/Login/pngwing.com (7).png" id="imgLeft">
                    <input type="submit" value="Energía eléctrica" class="btnAction" onclick="window.location.href='../PayServicesView/index.html'">
                </section>
                <section>
                    <input type="submit" value="Internet" class="btnAction" onclick="window.location.href='../PayServicesView/index.html'">
                    <img src="../../resources/Login/pngwing.com (8).png" id="imgLeft">
                </section>
            </div>
            <div class="containerActionTwo">
                <section>
                    <img src="../../resources/Login/pngwing.com (11).png" id="imgLeft">
                    <input type="submit" value="Telefonía" class="btnAction" onclick="window.location.href='../PayServicesView/index.html'">
                </section>
            </div>
            <div class="containerActionThree">
                <section>
                    <input type="submit" value="Agua potable" class="btnAction" onclick="window.location.href='../PayServicesView/index.html'">
                    <img src="../../resources/Login/pngwing.com (13).png" id="imgLeft">
                </section>
                <section>
                    <input type="submit" value="Regresar" class="btnAction" onclick="window.location.href='../ActionView/index.html'">
                    <img src="../../resources/Login/pngwing.com (6).png" id="imgLeft">
                </section>
            </div>
        </div>
    </body>
</html>