<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../css/ActionCss/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
            <div class="container">
                <div class="containerActionOne">
                    <section class="one">
                        <input type="submit" value="Depósito" class="btnAction" onclick="window.location.href='../DepositView/index.html'">
                        <img src="../../resources/Login/pngwing.com (2).png" id="imgLeft">
                    </section>
                    <section class="two">
                        <img src="../../resources/Login/pngwing.com (9).png" id="imgRight">
                        <input type="submit" value="Retiro" class="btnAction" onclick="window.location.href='../WithdrawalView/index.html'">
                    </section>
                </div>
                <div class="containerActionTwo">
                    <section class="one">
                        <input type="submit" value="Consulta de Saldo" class="btnAction" onclick="window.location.href='../BalanceView/index.html'">
                        <img src="../../resources/Login/pngwing.com (3).png" id="imgLeft">
                    </section>
                    <section class="user">
                        <h3>Usuario: Ash Ketchup</h3>
                        <h3>Número de cuenta: 123-454-6657</h3>
                    </section>
                </div>
                <div class="containerActionThree">
                    <section class="two">
                        <img src="../../resources/Login/pngwing.com (4).png" id="imgRight">
                        <input type="submit" value="Pago de Servicios" class="btnAction" onclick="window.location.href='../ServicesView/index.html'">
                    </section>
                    <section class="two">
                        <img src="../../resources/Login/pngwing.com (6).png" id="imgRight">
                        <input type="submit" value="Salir Sesión" class="btnAction" onclick="window.location.href='../../index.html'">
                    </section>
                </div>
            </div>
        </body>
</html>